doctype html
html lang="en"
  ahead
    title Vans Propeller Test
    meta name="keywords" content="template language"
    meta name="Matthias Harreither" content="author"
    meta charset="UTF-8"

    //- Loading Font Awesome
    link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"

    link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css"

    //Main CSS
    link href='assets/css/rig.css' rel="stylesheet" type='text/css'
    link href='assets/css/rig-presentation.css' rel="stylesheet" type='text/css'
    //Main CSS

    //JS and lightbox
    script src="assets/lightbox/js/jquery-1.11.0.min.js"
    script src="assets/lightbox/js/lightbox.min.js"
    //JS and lightbox



  body
    header
      .container
        .grid
          .row
            .col.-cling
              img src="assets/img/vans_logo.jpg"


    /*Navigation*/
    .nav-main
      ul
        li.menu
          a href="#" About
        li
          a href="index.html" Trailer
        li
          a href="hochzeit.html" Raw Files
        li
          a href="trauer.html" Premieres
        li
          a href="allerheiligen.html" Photos
        li
          a href="weihnachten.html" Interview
        li
          a href="graeber.html" Share
        li
          a href="contact.html" Download Now

    /*Content*/
    .container
      .grid
        .row
          .col.-cling
            img src="assets/img/prop.jpeg"
    .container
      .grid
        .row
          .col.s50.m25.l20
            img src="assets/img/vans_logo.jpg"
          .col.s50.m25.l20
            img src="assets/img/vans_logo.jpg"
          .col.s50.m25.l20
            img src="assets/img/vans_logo.jpg"
          .col.s50.m25.l20
            img src="assets/img/vans_logo.jpg"
          .col.s50.m25.l20
            img src="assets/img/vans_logo.jpg"

      footer
